body {
   background: #79B473;
   font-family: monospace;
   color: white;
}
p {
   font-family: monospace;
   color: white;
}
.title{
  text-align: center;
  font-family: georgia;
  background-color: #79B473;
  color: white;
}
.phrase{
  text-align: center;
  font-family: monospace;
  background-color: #79B473;
  color: white;
}